.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 95%;
}

header {
  color: white;
  font-size: 40px;
  margin: 0.5rem;
  text-align: center;
}

footer {
  color: white;
  font-size: 20px;
  margin-top: 0.5rem;
  text-align: center;
}
